---

---

<header>
  <h2>Edoce</h2>
  <h1>components</h1>
</header>

<style>
  header {
    @apply bg-slate-900 p-2 text-white text-4xl font-bold inline-flex w-full gap-2;
  }

  h2 {
    @apply bg-gradient-to-r from-emerald-700 to-teal-300 w-fit text-transparent bg-clip-text;
  }

  h1 {
    @apply bg-gradient-to-r from-rose-600 to-yellow-200 w-fit text-transparent bg-clip-text;
  }
</style>
